.about-page {
	margin: 32px;
}

.about-page section {
	margin-top: 32px;
}

.founders-flex-wrapper {
	width: 100%;

	display: flex;
	flex-direction: row;
	justify-content: center;

	margin: 16px;

}

.founders-flex {
	display: flex;
	
	gap: 32px;

	flex: 1;

	max-width: 768px;

	justify-self: center;
}

.founders-flex > div > figure {
	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;

/* 	height: 400px; */

	gap: 16px;
}

.founders-flex > div {
	flex: 1;
}

.founders-flex > div > figure > img {
	max-width: 400px;
	width: 100%;
}

.founders-flex .name {
	font-weight: bolder;
}

@media screen and (max-width: 768px) {
	.founders-flex {
		flex-direction: column;
	}
}

